@model LeaveViewModel
@section Title{
    Edit LeaveS
}
<!--User Edit Box Starts Here-->
<div class="box box-primary">
    <div class="box-header">
        <a asp-controller="User" asp-action="Index" class="btn btn-primary" style=" display: table; margin-bottom: 20px;">
            <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Back to List
        </a>
        <h3 class="box-title">Edit Leave: @Model.From  -- @Model.To</h3>
    </div>
    <!--form start-->
    <div asp-validation-summary="All"></div>
    <form asp-area="Admin" asp-controller="Leave" enctype="multipart/form-data" asp-action="Update" method="post" role="form">
        <input hidden asp-for="Id" />
        <div class="box-body">
            <div class="form-group">
                <div class="input-daterange input-group" id="datepicker">
                    <span class="input-group-addon">From</span>
                    <input asp-for="From" class="input-sm form-control" />
                    <span class="input-group-addon">to</span>
                    <input asp-for="To" class="input-sm form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserId"></label>
                <select asp-for="UserId" asp-items="Model.UserNames" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <!--Bootstrap-wysihtml5 Text Editor for description-->
                <textarea class="textarea" asp-for="Description" placeholder="Place some text here"
                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                </textarea>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
</div>