@model SalaryViewModel
@section Title{
    Salaries
}
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Salaries</h3>
        <a asp-controller="Salary" asp-action="Create" class="btn btn-primary pull-right"><i class="fa fa-plus" style="padding-right: 5px;"></i>Add New</a>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover" id="dataList">
            <thead>
                <tr>
                    <th>Designation</th>
                    <th>Salary Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Salaries)
                {
                    <tr>
                        <td>@Html.DisplayFor(v => item.Designation.Title)</td>
                        <td>@Html.DisplayFor(v => item.SalaryAmount)</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Salary" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-controller="Salary" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>